@tailwind base;
@tailwind components;
@tailwind utilities;

.carou {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}
.slick-prev:before,
.slick-next:before {
  color: #ff0000; /* เปลี่ยนสีลูกศรเป็นสีแดง */
}