@tailwind base;
@tailwind components;
@tailwind utilities;

.carou {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}
.slick-prev:before,
.slick-next:before {
  color: #ff0000; /* เปลี่ยนสีลูกศรเป็นสีแดง */
}

@keyframes shake {
	0%, 10% {
	  transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
	  transform: translateX(0px);
	}
	20%, 40%, 60%, 80% {
	  transform: translateX(5px);
	}
   }